<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisoft.appliinfo.dao.backend_user.BackendUserMapper">

    <select id="login" resultType="com.hisoft.appliinfo.pojo.BackendUser">
        select b.* from backend_user b
        where  b.userCode = #{backendCode} and b.userPassword = #{backendPassword}

    </select>
</mapper>