<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--定义全局mybatis映射为全部映射-->
    <settings>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <!--起别名-->
    <typeAliases>
        <package name="com.hisoft.appliinfo.dao"/>
    </typeAliases>
</configuration>